
<h2>Application portion of the code base </h2>
<h3>welcome to my epic app <br> it is really really cool </h3>
@* @Url.Action("Application", "Populate", new {term=11}, new {location=11}, new {MaxLocations=11}, new {sessionId=11}); *@
<div>create a new session: @Html.ActionLink("Landing", "Landing")</div>

